@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&display=swap');

:root {
    --ze-error-color: #DE252E;
}


.widget-header.widget {
    background-color: transparent;
}

body, h1, h2, h3, h4, h5, h6, a, p, label {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

h1 {
    display: none;
}

body {
    background: transparent !important;
}

label[for="transaction-amount"] {
    color: var(--ze-text-color);
    margin-bottom: 16px;
}


/* anderer betrag */

.amount-wrapper .input-wrapper .currency-symbol {
    background-color: var(--ze-input-border-color);
    color: var(--ze-text-color-inverted);
}

.amount-wrapper input[type=number], .amount-wrapper input[type=text], .amount-wrapper input[type=tel] {
    border-color: var(--ze-input-border-color);
    color: #235753;
    border-width: 2px;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.amount-wrapper .slider-wrapper .slider input[type=range]::-webkit-slider-thumb {
    background-color: var(--ze-amount-slider-thumb-color);
}
.amount-wrapper .slider-wrapper .slider input[type=range]::-moz-range-thumb {
    background-color: var(--ze-amount-slider-thumb-color);
}

.amount-wrapper .slider-wrapper .slider input[type=range]::-webkit-slider-thumb:hover {
    background-color: var(--ze-amount-slider-thumb-hover-color);
    cursor: pointer;
}
.amount-wrapper .slider-wrapper .slider input[type=range]::-moz-range-thumb:hover {
    background-color: var(--ze-amount-slider-thumb-hover-color);
    cursor: pointer;
}

.amount-wrapper .slider-wrapper .slider input[type=range]::-webkit-slider-runnable-track {
    background-color: white;
}
.amount-wrapper .slider-wrapper .slider input[type=range]:focus::-webkit-slider-runnable-track {
    background-color: white;
}
.amount-wrapper .slider-wrapper .slider input[type=range]::-moz-range-track {
    background-color: white;
}

.amount-wrapper .slider-wrapper {
    background-color: var(--ze-input-border-color);
}

.amount-wrapper .slider-wrapper {
    border-radius: 0 2px 2px 0;
}

.amount-wrapper .input-wrapper {
    margin-bottom: 0;
}


/* errors */

.payment-component-wrapper h2.error {
    color: var(--ze-error-color)
}

input[type=text].ng-touched.ng-invalid, input[type=tel].ng-touched.ng-invalid, input[type=email].ng-touched.ng-invalid, input[type=number].ng-touched.ng-invalid, input[type=date].ng-touched.ng-invalid, select.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid, textarea[rows].ng-touched.ng-invalid {
    border-color: var(--ze-error-color);
}