/*
 * This file is loaded by the donation iframe from a fixed URL configured in Twingle.
 * To test changes to this file, replace the contents of the CSS file using the Sources panel in Chrome DevTools.
 */

@import url("./base.css");

:root {
    --ze-text-color: white;
    --ze-text-color-focus: #A9D8D8;
    --ze-text-color-inverted: #235753;

    --ze-input-border-color: #A9D8D8;
    --ze-input-appended-button-hover-color: #C8F7F7;

    --ze-amount-slider-thumb-color: #235753;
    --ze-amount-slider-thumb-hover-color: #40827D;
}

/* amount buttons */

.amount-wrapper .button-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
}

.amount-wrapper input[type=radio]:checked + label:hover, .amount-wrapper input[type="radio"] + label:hover, .amount-wrapper .button-wrapper button.button:hover {
    background-color: #40827D;
    color: #fff;
}

.amount-wrapper input[type=radio] + label, .button-wrapper button.button {
    background-color: #A9D8D8;
    color: #235753;
    border-radius: 2px;
}

.amount-wrapper .button-wrapper label strong, .button-wrapper button.button {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.amount-wrapper input[type=radio]:checked + label {
    background: white;
    color: #235753;
}

/* cta */

button.button.arrow[type="submit"]::after {
    display: none;
}

button.button.arrow[type="submit"] {
    width: 100% !important;
    text-transform: none;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    border-radius: 2px;
}

button.button.arrow[type="submit"]:hover {
    background-color: #E43997;
}

/* footer */

.footer-gls img {
    filter: brightness(0) invert(1);
}
